#root {
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-image: url('../components/noche1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Cambiar a 'fixed' para mantener el fondo fijo */
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.center-text h1 {
  font-size: 100px; /* Ajustar el tamaño de fuente para pantallas de teléfono */
  margin-top: 10%;
  color: red;
}

.awesome-title {
  text-transform: uppercase;
  text-shadow: 6px 6px yellow, 10px 10px pink, 14px 14px blue, 18px 18px black, 22px 22px green;
}

.img-container {
  position: absolute;
  width: 150px; /* Ajustar el tamaño de la imagen para pantallas de teléfono */
  height: 90px; /* Ajustar el tamaño de la imagen para pantallas de teléfono */
  top: 50%;
  left: 10px;
  animation: meteoritoMove 4s linear infinite;
}

.img-container img {
  width: 100%;
  height: 100%;
}

/* Ajustar la animación para pantallas de teléfono */
@keyframes meteoritoMove {
  0% {
    left: -50px; /* Reducir el valor para pantallas de teléfono */
  }
  100% {
    left: 85%;
  }
}

/* Estilos para pantallas pequeñas (menor o igual a 768px) */
@media (max-width: 768px) {
  .center-text h1 {
    font-size: 15px; /* Reducir el tamaño de fuente para pantallas de teléfono */
  }

  .img-container {
    width: 100px; /* Reducir el tamaño de la imagen para pantallas de teléfono */
    height: 60px; /* Reducir el tamaño de la imagen para pantallas de teléfono */
  }

  /* Ajustar la animación para pantallas de teléfono */
  @keyframes meteoritoMove {
    0% {
      left: -30px; /* Reducir el valor para pantallas de teléfono */
    }
    100% {
      left: 65%;
    }
  }
}


