


#root {
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-image: url('../components/noche1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.center-text h1 {
  font-size: 150px;
  margin-top: 10%;
  color: red;
}

.awesome-title {
  text-transform: uppercase;
  text-shadow: 6px 6px yellow, 10px 10px pink, 14px 14px blue, 18px 18px black, 22px 22px green;
}

.img-container {
  position: absolute;
  width: 250px;
  height: 150px;
  top: 50%;
  left: 10px;
  animation: meteoritoMove 4s linear infinite;
}

.img-container img {
  width: 100%;
  height: 100%;
}


@keyframes meteoritoMove {
  0% {
    left: -100px; 
  }
  100% {
    left: 85%;
  }
}

