body {
  background-image: url('../components/scott-webb-mV9-1XjnM4Y-unsplash.jpg'); /* Ruta relativa a la carpeta 'components' */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px; 
  }
  
  
  .center-text h1 {
    font-size: 150px; 
    margin-top: 10%;
    color:yellow;
  }
  