.basic-info-container {
    text-align: center;
    margin: 10%;
    padding: 20px;
    background-image: url('../components/noche1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: fixed; 
    border: 5px solid black;
    border-radius: 25px;
    
  }
  .basic-info-container h1 {
    color:red;
    font-family: cursive;
  }
  
  .basic-info-container p {
    font-size: 22px;
    color: white;
    margin: 10px 0;
    font-family: cursive;
  }
  
  .basic-info-container a {
    color: yellow;
    text-decoration: none;
    transition: color 0.3s;
  }

  .basic-info-container a:hover {
    color: red;
  }
  
  
 
  
  
 