
.basic-info-container {
  text-align: center;
  margin: 10%;
  padding: 5px;
  background-color:black;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: fixed; 
  border: 5px solid yellow;
  border-radius: 25px;
  box-shadow:  0 0 30px 30px white;
  background-color: transparent;
  
}
.basic-info-container h1 {
  color:red;
  font-family: cursive;
}

.basic-info-container p {
  font-size: 22px;
  color:yellow;
  margin: 10px 0;
  font-family: cursive;
  font-weight: bold;
}

.basic-info-container a {
  color: red;
  font-family: cursive;
  text-decoration: none;
  transition: color 0.3s;
}

.basic-info-container a:hover {
  color: red;
}

.basic-info-container .clock {
  color:red !important;
  margin: 20px ;
  
 
}






