.contacto-background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto-container {
  padding: 70px;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0 0 40px 10px yellow;
  text-align: center;
  background-color: transparent;
  
}

.contacto-container h2 {
  font-size: 40px;
  margin: 30px;
  text-align: center;
  color: yellow;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  color: yellow;
}


.form-group {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 28px;
  margin-bottom: 10px; 
  border: 4px solid yellow;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.btnem {
  margin: 15%;

}
.btnen{
  margin: 5%;
}



