.contenedorportafolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../components/noche4.jpg');
    border: 5px solid yellow;
    border-radius: 25px;
    color:yellow;
    font-size: 20px;
    }
    
    
   .contenedorportafolio h2 {
   
   font-size: 24px;
   color:yellow;
   margin-bottom: 20px;
   background-color: blue;
   border: 5px solid yellow;
   border-radius: 15px;
   }

    .contenedorportafolio label {
    width: 100%;
    font-weight: bold;
    
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
        
  }
  .contenedorportafolio input {
    width: 200%;
    padding: 10px;
    border: 5px solid yellow;
    border-radius: 5px;
  }
  
  
  .contenedorportafolio button[type="submit"] {
    background-color: yellow;
    color: black;
    border:solid red 5px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin:50px;
    
  }
  
  
  .contenedorportafolio button[type="submit"]:hover {
    background-color: #f50909;
    border:solid yellow 5px;
    color: white;
  }
  
  