.contenedorportafolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
    margin: 10px;
    padding: 20px;
    background-color: red;
    border: 5px solid black;
    border-radius: 25px;
    color: blue;
    }
    
   .contenedorportafolio h2 {
   font-size: 24px;
   color: yellow;
   margin-bottom: 20px;
   }
   
  
  
  .contenedorportafolio form div {
   margin: 25px 10px ;
  }
  
  
  .contenedorportafolio label {
    display: block;
    font-weight: bold;
  }
  
   .contenedorportafolio input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .contenedorportafolio button[type="submit"] {
    background-color: yellow;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  .contenedorportafolio button[type="submit"]:hover {
    background-color: #f50909;
  }
  
  