.contenedorportafolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 5px solid yellow;
  border-radius: 25px;
  color: yellow;
  font-size: 20px;
  margin-bottom: 4%;
  margin-top: 4%;
  margin-left:25%;
  margin-right:25%;
  box-shadow: 0 0 20px 30px blue; 
  
}

.contenedorportafolio h2 {
  font-size: 24px;
  color: yellow;
  margin-bottom: 20px;
  background-color: blue;
  border: 5px solid yellow;
  border-radius: 15px;
}

.contenedorportafolio label {
  width: 100%;
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.contenedorportafolio input {
  width: 200%; 
  padding: 20px;
  border: 5px solid yellow;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;

}

.contenedorportafolio button[type="submit"] {
  background-color: yellow;
  color: black;
  border: solid red 5px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  margin: 20px;
}

.contenedorportafolio button[type="submit"]:hover {
  background-color: #f50909;
  border: solid yellow 5px;
  color: white;
}

button {
  background-color: yellow;
  color: black;
  border: solid red 5px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #f50909;
  border: solid yellow 5px;
  color: white;
}

.button-container {
  color: red;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}


