body{
  background-image: url('../components/noche3.jpg');
}
.contenedoredit {
  display: flex;
  flex-direction: column;
  height: 65vh;
  padding: 20px;
  margin:  50px;
  border: 5px solid yellow;
  border-radius: 50px;
  color: yellow;
   }
  
  
  .contenedoredit h2 {
    font-size: 32px;
    color: yellow;
    margin-bottom: 10px;
    text-align: center;
  }
  
  
  .contenedoredit form div {
    
      margin: 5px 5px;
      display: flex;
      flex-direction: column; /* Alinea los elementos verticalmente */
      align-items: center; /* Centra horizontalmente los elementos en el div */
      text-align: center;
    }
    
    
    
  
  .contenedoredit label {
    
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;

  }
  
  
  .contenedoredit input {
    text-align: center;
    width: 70%;
    padding: 10px;
    border: 5px solid yellow;
    border-radius: 5px;
  }
  
  
  .contenedoredit button[type="submit"] {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
  }
  
  
  .contenedoredit button[type="submit"]:hover {
    background-color: #f50909;
  }
  