footer {
    background-image: url('../components/noche3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff; 
    padding: 20px;
    text-align: center;
    width: 98%;
    margin-top:25px;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: yellow; 
    font-size: 24px;
    margin-right: 20px; 
    text-decoration: none;
  }
  
  .social-icons a:last-child {
    margin-right: 0; 
  }
  