.projectscontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  background-color:transparent;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.projects li {
  text-align: center;
  color: yellow;
}
.projects a{
  color:yellow;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px;
  background-color:transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid yellow;
  border-radius: 25px;
  margin: 15%;
  box-shadow: 0 0 30px 30px red; 
  
}

.projects h1 {
  color: yellow;
  font-size: 40px;
  margin-top: 20px; 
}

.footer{
  flex-direction: flex;


}
  
  
