
.navbar {
  background-color:transparent;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  border: solid 5px yellow;
  box-shadow: 0 0 30px 30px blue;
}

.logo img {
  background-color: transparent;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: yellow;
  font-size: 1rem;
  transition: color 0.3s, font-weight 0.3s;
}

.nav-links a:hover {
  color: white;
  font-weight: bold;
}


@media (max-width: 768px) {
    .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start; 
  }

  .nav-links a {
    font-size: 1.2rem;
    padding: 5px 0; 
  }

    .logo {
    margin-bottom: 10px;
  }
  
  .menu-toggle {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .nav-links {
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    background-color: transparent;
    border: solid 5px yellow;
    border-radius: 10px;
    padding: 10px;
  }
  
  .show-nav .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .show-nav .menu-toggle::before {
    content: '\f00d'; 
    font-family: FontAwesome;
  }
}
