.navbar {
  background-image: url('../components/noche3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  border: solid 5px yellow;
  
   
}


.logo {
  width: 200px;
}

.logo a {
  color: #bde957;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: yellow;
  font-size: 1rem;
  transition: color 0.3s, font-weight 0.3s; 
}

.nav-links a:hover {
  color: white;
  font-weight: bold; 
}

.navbar:hover {
  background-color: #1a0602; 
}

  
  
  
  