/* Estilo para el contenedor principal del componente PortafolioForm */
.portafolio-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; /* Ajusta la altura al 100% de la vista del dispositivo */
  }
  
  /* Estilo para el encabezado h2 */
  .portafolio-form-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Estilo para los elementos del formulario */
  .portafolio-form-container form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Estilo para los campos de entrada y textarea */
  .portafolio-form-container form input,
  .portafolio-form-container form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  /* Estilo para el botón de submit */
  .portafolio-form-container form button[type="submit"] {
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    border:solid 2px black;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
  }
  
  /* Estilo para el botón de submit al pasar el cursor sobre él */
  .portafolio-form-container form button[type="submit"]:hover {
    background-color: yellow;
    color: red;
  }
  