/* Estilos para el contenedor principal */
.portfolio-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  /* Estilos para cada proyecto */
  .portfolio-project {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
  }
  
  .portfolio-project img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilos para los enlaces */
  .portfolio-project a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .portfolio-project a:hover {
    text-decoration: underline;
  }
  