.show-characters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
 
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    left:0;
    right: 0;
    margin: 30%;
    background-image:  url('../components/noche3.jpg');
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    color: white;
    position: relative;
      
  }
  
  
  .card p {
    background-color: yellow;
    color: black;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .button-container {
    position: absolute; 
    bottom: 100px;
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    text-align: center; 
  }
  
  
  .edit-button button {
    background-color: blue;
    color: #fff;
    border: solid black;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    
  }
  
  .edit-button button:hover {
    background-color: yellow;
    color: red;
  }
   
  .btn {
    
    background-color: blue;
    color: #fff;
    border: solid black;
    padding: 15px 50px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
 
  }
  
  .btn:hover {
    background-color: yellow;
    color:red;
    
  }
  